<!doctype html public>
<!--[if lt IE 7]> <html lang="en-us" class="lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>    <html lang="en-us" class="lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>    <html lang="en-us" class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us"> <!--<![endif]-->
<head>
  <meta charset="utf-8">

  <title></title>

  <meta name="viewport" content="width=device-width">
  <script>

  var ws = new WebSocket('ws://120.209.194.240:8080/msg');
  var a = "发生的发生的发生的发生的法撒旦法奥斯卡v刹小娘子v刹想咋说话阿萨德";
  ws.onopen = function() {
      // send(a,"text");
      ws.send("{'send':1,'type':'text','message':'&#x53D1;&#x751F;&#x7684;&#x53D1;&#x751F;&#x7684;&#x53D1;&#x751F;&#x7684;&#x53D1;&#x751F;&#x7684;&#x6CD5;&#x6492;&#x65E6;&#x6CD5;&#x5965;&#x65AF;&#x5361;v&#x5239;&#x5C0F;&#x5A18;&#x5B50;v&#x5239;&#x60F3;&#x548B;&#x8BF4;&#x8BDD;&#x963F;&#x8428;&#x5FB7;','random':0.11267703818157315}");
	};
	ws.onclose = function(e) {
		console.log(e);
	};

  send = function(message,type) {

    message = message.replace(/[^\u0000-\u00FF]/g,function($0){return escape($0).replace(/(%u)(\w{4})/gi,"&#x$2;")}); 
    
    ws.send(
          "{'send':1,'type':" + "'" + type + "'" + ",'message':" + "'" + message + "'" + ",'random':" + Math.random() + "}"
        );

    // if (ws.readyState !== 1) {
    //     ws.close();
    //     ws = new WebSocket(uri,['WebManagerSocket',]);
    //     if (ws.readyState !== 1) {
    //      alert("网络异常，请重新连接！");
    //      return ;
    //     };
    //     setTimeout(function() {
    //         data();
    //     }, 250);
    // } else {
    //     data();
    // };

};

  </script>
</head>
<body>

  

</body>
</html>
